In [1]:
'''
【课程2.2】  Pandas数据结构Series：基本概念及创建
'''

'\n【课程2.2】  Pandas数据结构Series：基本概念及创建\n'

In [64]:
import numpy as np
import pandas as pd  

s=pd.Series(np.random.rand(5))
print(s)
print(type(s))

print(s.index,type(s.index))
print(s.values,type(s.values))

0    0.762729
1    0.656866
2    0.736054
3    0.238254
4    0.589738
dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
[ 0.76272948  0.6568658   0.73605359  0.2382543   0.58973783] <class 'numpy.ndarray'>

In [4]:
dic = {'a':1 ,'b':2 , 'c':3, '4':4, '5':5, 6:10}
s = pd.Series(dic)
print(s)

a     1
b     2
c     3
4     4
5     5
6    10
dtype: int64

In [5]:
arr = np.random.randn(5)
s = pd.Series(arr)
print(arr)
print(s)

[-0.0736768  -0.97766568 -0.97828019 -0.21251096 -0.32052941]
0   -0.073677
1   -0.977666
2   -0.978280
3   -0.212511
4   -0.320529
dtype: float64

In [10]:
s = pd.Series(arr, index = ['a','ab','c','d','e'],dtype = np.object)
s1 = pd.Series(arr, index = ['a','ab','c','d','e'])
print(s,s1)

s2=pd.Series(10,index=range(4))
print(s2)

a    -0.0736768
ab    -0.977666
c      -0.97828
d     -0.212511
e     -0.320529
dtype: object a    -0.073677
ab   -0.977666
c    -0.978280
d    -0.212511
e    -0.320529
dtype: float64
0    10
1    10
2    10
3    10
dtype: int64

In [12]:
s3 = s2.rename('hehehe')
print(s3)
print('--------')
print(s3.name,'--------', s2.name)

0    10
1    10
2    10
3    10
Name: hehehe, dtype: int64
--------
hehehe -------- None

In [13]:
'''
【课程2.3】  Pandas数据结构Series：索引
'''

'\n【课程2.3】  Pandas数据结构Series：索引\n'

In [16]:
s = pd.Series(np.random.rand(5))
print(s)
print(s[0],type(s[0]),s[0].dtype)
print(float(s[0]),type(float(s[0])))

0    0.038201
1    0.039989
2    0.779009
3    0.548558
4    0.565584
dtype: float64
0.038200995169 <class 'numpy.float64'> float64
0.038200995169002105 <class 'float'>

In [24]:
s1=pd.Series(range(5),index=[1,2,3,4,5])
print (s1[1])
print (s1[[1,2]])

s2=pd.Series(range(5))
print (s2[0])

0
1    0
2    1
dtype: int32
0

In [23]:
# 切片索引

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s1[1:4],s1[4])
print(s2['a':'c'],s2['c'])
print(s2[0:3],s2[3])
print('-----')
# 注意：用index做切片是末端包含

print(s2[:-1])
print(s2[::2])
# 下标索引做切片，和list写法一样

1    0.265613
2    0.438199
3    0.297575
dtype: float64 0.878364193599
a    0.823431
b    0.696173
c    0.570234
dtype: float64 0.570234047145
a    0.823431
b    0.696173
c    0.570234
dtype: float64 0.497995327368
-----
a    0.823431
b    0.696173
c    0.570234
d    0.497995
dtype: float64
a    0.823431
c    0.570234
e    0.533246
dtype: float64

In [25]:
# 布尔型索引

s = pd.Series(np.random.rand(3)*100)
s[4] = None  # 添加一个空值
print(s)
bs1 = s > 50
bs2 = s.isnull()
bs3 = s.notnull()
print(bs1, type(bs1), bs1.dtype)
print(bs2, type(bs2), bs2.dtype)
print(bs3, type(bs3), bs3.dtype)
print('-----')
# 数组做判断之后，返回的是一个由布尔值组成的新的数组
# .isnull() / .notnull() 判断是否为空值 (None代表空值，NaN代表有问题的数值，两个都会识别为空值)

print(s[s > 50])
print(s[bs3])

0    99.7457
1    7.66449
2    10.6042
4       None
dtype: object
0     True
1    False
2    False
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
-----
0    99.7457
dtype: object
0    99.7457
1    7.66449
2    10.6042
dtype: object

In [26]:
'''
【课程2.4】  Pandas数据结构Series：基本技巧
'''

'\n【课程2.4】  Pandas数据结构Series：基本技巧\n'

In [27]:
s = pd.Series(np.random.rand(50))
print(s.head(10))
print(s.tail())

0    0.465840
1    0.656819
2    0.434933
3    0.525561
4    0.896567
5    0.202612
6    0.830743
7    0.758799
8    0.178327
9    0.280172
dtype: float64
45    0.680767
46    0.392188
47    0.178938
48    0.117614
49    0.221257
dtype: float64

In [29]:
s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s1 = s.reindex(['c','b','a','d'])
print(s1)
print(s)

a    0.848497
b    0.887732
c    0.214396
dtype: float64
c    0.214396
b    0.887732
a    0.848497
d         NaN
dtype: float64
a    0.848497
b    0.887732
c    0.214396
dtype: float64

In [30]:
# Series对齐

s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)
# Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
# index顺序不会影响数值计算，以标签来计算
# 空值和任何值计算结果扔为空值

Jack     0.683879
Marry    0.738703
Tom      0.274478
dtype: float64
Wang     0.300422
Jack     0.010580
Marry    0.327165
dtype: float64
Jack     0.694459
Marry    1.065868
Tom           NaN
Wang          NaN
dtype: float64

In [36]:
# 删除：.drop

s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n')
s2 = s.drop(['g','j'])
print(s1)
print(s2)
print(s)
# drop 删除元素之后返回副本(inplace=False)

print('__________')
s1 = s.drop('n')
s11 = s1.drop(['g','j'],inplace=True)
print(s1)
print(s11)

n    0.988386
g    0.693467
j    0.339990
u    0.191581
r    0.987045
dtype: float64
g    0.693467
j    0.339990
u    0.191581
r    0.987045
dtype: float64
n    0.988386
u    0.191581
r    0.987045
dtype: float64
n    0.988386
g    0.693467
j    0.339990
u    0.191581
r    0.987045
dtype: float64
__________
u    0.191581
r    0.987045
dtype: float64
None

In [37]:
# 添加

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
print(s1)
print(s2)
print('-----')
# 直接通过下标索引/标签index添加值

s3 = s1.append(s2)
print(s3)
print(s1)
# 通过.append方法，直接添加一个数组
# .append方法生成一个新的数组，不改变之前的数组

0    0.005935
1    0.055082
2    0.374863
3    0.667997
4    0.306708
dtype: float64
n    0.448438
g    0.299547
j    0.370562
u    0.157343
r    0.223687
dtype: float64
0      0.005935
1      0.055082
2      0.374863
3      0.667997
4      0.306708
5    100.000000
dtype: float64
n      0.448438
g      0.299547
j      0.370562
u      0.157343
r      0.223687
a    100.000000
dtype: float64
-----
0      0.005935
1      0.055082
2      0.374863
3      0.667997
4      0.306708
5    100.000000
n      0.448438
g      0.299547
j      0.370562
u      0.157343
r      0.223687
a    100.000000
dtype: float64
0      0.005935
1      0.055082
2      0.374863
3      0.667997
4      0.306708
5    100.000000
dtype: float64

In [38]:
# 修改

s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s['a'] = 100
s[['b','c']] = 200
print(s)
# 通过索引直接修改，类似序列

a    0.329809
b    0.630441
c    0.254760
dtype: float64
a    100.0
b    200.0
c    200.0
dtype: float64

In [39]:
'''
【课程2.5】  Pandas数据结构Dataframe：基本概念及创建
'''

'\n【课程2.5】  Pandas数据结构Dataframe：基本概念及创建\n'

In [41]:
data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']}
frame = pd.DataFrame(data)
print(frame)  
print(type(frame))
print(frame.index,'\n该数据类型为：',type(frame.index))
print(frame.columns,'\n该数据类型为：',type(frame.columns))
print(frame.values,'\n该数据类型为：',type(frame.values))

   age gender  name
0   18      m  Jack
1   19      m   Tom
2   20      w  Mary
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
该数据类型为： <class 'pandas.core.indexes.range.RangeIndex'>
Index(['age', 'gender', 'name'], dtype='object')
该数据类型为： <class 'pandas.core.indexes.base.Index'>
[[18 'm' 'Jack']
 [19 'm' 'Tom']
 [20 'w' 'Mary']]
该数据类型为： <class 'numpy.ndarray'>

In [42]:
data1 = {'a':[1,2,3],
        'b':[3,4,5],
        'c':[5,6,7]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}   # 这里如果尝试  'two':np.random.rand(4) 会怎么样？
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [5, 6, 7]}
{'one': array([ 0.35720988,  0.84593461,  0.63488636]), 'two': array([ 0.51050434,  0.44818426,  0.41852104])}
   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7
        one       two
0  0.357210  0.510504
1  0.845935  0.448184
2  0.634886  0.418521

In [43]:
df1 = pd.DataFrame(data1, columns = ['b','c','a','d'])
print(df1)
df1 = pd.DataFrame(data1, columns = ['b','c'])
print(df1)
# columns参数：可以重新指定列的顺序，格式为list，如果现有数据中没有该列（比如'd'），则产生NaN值
# 如果columns重新指定时候，列的数量可以少于原数据

df2 = pd.DataFrame(data2, index = ['f1','f2','f3'])  # 这里如果尝试  index = ['f1','f2','f3','f4'] 会怎么样？
print(df2)
# index参数：重新定义index，格式为list，长度必须保持一致

   b  c  a    d
0  3  5  1  NaN
1  4  6  2  NaN
2  5  7  3  NaN
   b  c
0  3  5
1  4  6
2  5  7
         one       two
f1  0.357210  0.510504
f2  0.845935  0.448184
f3  0.634886  0.418521

In [45]:
data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  # 没有设置index的Series
data2 = {'one':pd.Series(np.random.rand(2), index = ['e','f']),
        'two':pd.Series(np.random.rand(3),index = ['a','b','c'])}  # 设置了index的Series
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

{'one': 0    0.113873
1    0.251442
dtype: float64, 'two': 0    0.313140
1    0.098709
2    0.383845
dtype: float64}
{'one': e    0.74246
f    0.18642
dtype: float64, 'two': a    0.809930
b    0.500487
c    0.488844
dtype: float64}
        one       two
0  0.113873  0.313140
1  0.251442  0.098709
2       NaN  0.383845
       one       two
a      NaN  0.809930
b      NaN  0.500487
c      NaN  0.488844
e  0.74246       NaN
f  0.18642       NaN

In [46]:
ar=np.random.rand(9).reshape(3,3)
print(ar)
df1=pd.DataFrame(ar)
df2=pd.DataFrame(ar,index=list('abc'),columns=['one','two','three'])
print(df1)
print(df2)

[[ 0.31788617  0.13454961  0.98654495]
 [ 0.76947509  0.98124958  0.17065984]
 [ 0.24141699  0.5714625   0.54346766]]
          0         1         2
0  0.317886  0.134550  0.986545
1  0.769475  0.981250  0.170660
2  0.241417  0.571463  0.543468
        one       two     three
a  0.317886  0.134550  0.986545
b  0.769475  0.981250  0.170660
c  0.241417  0.571463  0.543468

In [47]:
data = [{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
print(data)
df1=pd.DataFrame(data)
df2 = pd.DataFrame(data, index = ['a','b'])
df3 = pd.DataFrame(data, columns = ['one','two'])
print(df1)
print(df2)
print(df3)

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
   one  three  two
0    1    NaN    2
1    5   20.0   10
   one  three  two
a    1    NaN    2
b    5   20.0   10
   one  two
0    1    2
1    5   10

In [48]:
data = {'Jack':{'math':90,'english':89,'art':78},
       'Marry':{'math':82,'english':95,'art':92},
       'Tom':{'math':78,'english':67}}
df1 = pd.DataFrame(data)
print(df1)

df2 = pd.DataFrame(data, columns = ['Jack','Tom','Bob'])
df3 = pd.DataFrame(data, index = ['a','b','c'])
print(df2)
print(df3)

         Jack  Marry   Tom
art        78     92   NaN
english    89     95  67.0
math       90     82  78.0
         Jack   Tom  Bob
art        78   NaN  NaN
english    89  67.0  NaN
math       90  78.0  NaN
   Jack  Marry  Tom
a   NaN    NaN  NaN
b   NaN    NaN  NaN
c   NaN    NaN  NaN

In [49]:
'''
【课程2.6】  Pandas数据结构Dataframe：索引
'''

'\n【课程2.6】  Pandas数据结构Dataframe：索引\n'

In [51]:
df=pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
               index = ['one','two','three'],
               columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print('-----')
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['one','two']]
print(data2,type(data3))
print(data3,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

               a          b          c          d
one     8.932405  68.392668  24.434699  60.766170
two    35.372769  67.237519   6.915432  40.598295
three  67.266141  40.138331  25.932779  98.885646
one       8.932405
two      35.372769
three    67.266141
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one     8.932405  24.434699
two    35.372769   6.915432
three  67.266141  25.932779 <class 'pandas.core.frame.DataFrame'>
-----
               a          c
one     8.932405  24.434699
two    35.372769   6.915432
three  67.266141  25.932779 <class 'pandas.core.series.Series'>
a     8.932405
b    68.392668
c    24.434699
d    60.766170
Name: one, dtype: float64 <class 'pandas.core.frame.DataFrame'>

In [55]:
# df[] - 选择列
# 一般用于选择列，也可以选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

data3 = df[2:3]
#data3 = df[0]
#data3 = df['one']
print(data3,type(data3))
# df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择（df[0]）
# 输出结果为Dataframe，即便只选择一行
# df[]不能通过索引标签名来选择行(df['one'])

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    24.808682   5.016094  54.669283   8.781685
two    16.523445  64.539986  77.670488  81.669584
three  54.924495  17.550157  81.588381  97.757305
-----
one      24.808682
two      16.523445
three    54.924495
Name: a, dtype: float64
               b          c
one     5.016094  54.669283
two    64.539986  77.670488
three  17.550157  81.588381
               a          b          c          d
three  54.924495  17.550157  81.588381  97.757305 <class 'pandas.core.frame.DataFrame'>

In [60]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    97.659527  15.692866  14.837666  43.349643
two    92.764354  21.187443  29.349364  60.412057
three  77.380963  36.079828  21.796428  86.038086
four   13.358836  39.330107   3.155383  87.700188
           a          b          c          d
0   7.570874  96.707077  77.928724  58.960215
1  38.947426  44.910645  46.424315  36.200812
2  28.054383  23.914806  74.270386  67.637324
3  55.113338  45.531424  83.585898  18.431197
-----
a    97.659527
b    15.692866
c    14.837666
d    43.349643
Name: one, dtype: float64
a    38.947426
b    44.910645
c    46.424315
d    36.200812
Name: 1, dtype: float64
单标签索引
-----
               a          b          c          d
two    92.764354  21.187443  29.349364  60.412057
three  77.380963  36.079828  21.796428  86.038086
five         NaN        NaN        NaN        NaN
           a          b          c          d
3  55.113338  45.531424  83.585898  18.431197
2  28.054383  23.914806  74.270386  67.637324
1  38.947426  44.910645  46.424315  36.200812
多标签索引
-----
               a          b          c          d
one    97.659527  15.692866  14.837666  43.349643
two    92.764354  21.187443  29.349364  60.412057
three  77.380963  36.079828  21.796428  86.038086
           a          b          c          d
1  38.947426  44.910645  46.424315  36.200812
2  28.054383  23.914806  74.270386  67.637324
3  55.113338  45.531424  83.585898  18.431197
切片索引

In [61]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
#print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含

               a          b          c          d
one    78.149809  70.624161  55.010166   5.111371
two     4.681723  45.795154  89.113015   7.997244
three  35.714724  36.953514  20.333445  73.880307
four   12.498992  75.648986  43.888079  75.847289
------
a    78.149809
b    70.624161
c    55.010166
d     5.111371
Name: one, dtype: float64
a    12.498992
b    75.648986
c    43.888079
d    75.847289
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    78.149809  70.624161  55.010166   5.111371
three  35.714724  36.953514  20.333445  73.880307
               a          b          c          d
four   12.498992  75.648986  43.888079  75.847289
three  35.714724  36.953514  20.333445  73.880307
two     4.681723  45.795154  89.113015   7.997244
多位置索引
-----
               a          b          c          d
two     4.681723  45.795154  89.113015   7.997244
three  35.714724  36.953514  20.333445  73.880307
               a          b          c          d
one    78.149809  70.624161  55.010166   5.111371
three  35.714724  36.953514  20.333445  73.880307
切片索引

In [66]:
# 布尔型索引
# 和Series原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

b1 = df < 20
print(b1,type(b1))
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列

b3 = df[['a','b']] > 50
print(b3,type(b3))
print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    47.219928  67.728912  46.021656  84.710588
two    23.741238  89.923145  68.902132  83.445736
three  81.562593  17.415783  38.784546  39.189750
four   10.341226  34.430073  68.083498   8.743176
------
           a      b      c      d
one    False  False  False  False
two    False  False  False  False
three  False   True  False  False
four    True  False  False   True <class 'pandas.core.frame.DataFrame'>
               a          b   c         d
one          NaN        NaN NaN       NaN
two          NaN        NaN NaN       NaN
three        NaN  17.415783 NaN       NaN
four   10.341226        NaN NaN  8.743176
------
one      False
two      False
three     True
four     False
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c         d
three  81.562593  17.415783  38.784546  39.18975
------
           a      b
one    False   True
two    False   True
three   True  False
four   False  False <class 'pandas.core.frame.DataFrame'>

ValueError: Boolean array expected for the condition, not float64

In [67]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    53.697742  92.895114  47.106466  70.574770
two    76.333676  66.432951  70.638236  79.769251
three  72.428436  90.133075  51.954341  53.452164
four   62.995758  73.627319  65.214251  28.590567
------
one      53.697742
three    72.428436
Name: a, dtype: float64
               b          c          d
one    92.895114  47.106466  70.574770
three  90.133075  51.954341  53.452164
Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [68]:
'''
【课程2.7】  Pandas数据结构Dataframe：基本技巧
'''

'\n【课程2.7】  Pandas数据结构Dataframe：基本技巧\n'

In [69]:
# 添加与修改

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

df['e'] = 10
df.loc[4] = 20
print(df)
# 新增列/行并赋值

df['e'] = 20
df[['a','c']] = 100
print(df)
# 索引后直接修改值

           a          b          c          d
0  73.749981  48.731090  61.169625  32.316602
1  19.786527  15.461309  59.232880  96.430708
2  72.352329   1.803498  76.109178   5.243309
3   3.292049  51.348742  91.952317  94.890577
           a          b          c          d   e
0  73.749981  48.731090  61.169625  32.316602  10
1  19.786527  15.461309  59.232880  96.430708  10
2  72.352329   1.803498  76.109178   5.243309  10
3   3.292049  51.348742  91.952317  94.890577  10
4  20.000000  20.000000  20.000000  20.000000  20
     a          b    c          d   e
0  100  48.731090  100  32.316602  20
1  100  15.461309  100  96.430708  20
2  100   1.803498  100   5.243309  20
3  100  51.348742  100  94.890577  20
4  100  20.000000  100  20.000000  20

In [70]:
# 删除  del / drop()

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

del df['a']
print(df)
print('-----')
# del语句 - 删除列

print(df.drop(0))
print(df.drop([1,2]))
print(df)
print('-----')
# drop()删除行，inplace=False → 删除后生成新的数据，不改变原数据

print(df.drop(['d'], axis = 1))
print(df)
# drop()删除列，需要加上axis = 1，inplace=False → 删除后生成新的数据，不改变原数据

           a          b          c          d
0  77.740117  32.605253  58.500408  40.443343
1  85.225335  78.266217  52.079576  88.001422
2  27.404848  52.239112  11.748972   6.995774
3  62.459527  18.637914  74.712243  42.377111
           b          c          d
0  32.605253  58.500408  40.443343
1  78.266217  52.079576  88.001422
2  52.239112  11.748972   6.995774
3  18.637914  74.712243  42.377111
-----
           b          c          d
1  78.266217  52.079576  88.001422
2  52.239112  11.748972   6.995774
3  18.637914  74.712243  42.377111
           b          c          d
0  32.605253  58.500408  40.443343
3  18.637914  74.712243  42.377111
           b          c          d
0  32.605253  58.500408  40.443343
1  78.266217  52.079576  88.001422
2  52.239112  11.748972   6.995774
3  18.637914  74.712243  42.377111
-----
           b          c
0  32.605253  58.500408
1  78.266217  52.079576
2  52.239112  11.748972
3  18.637914  74.712243
           b          c          d
0  32.605253  58.500408  40.443343
1  78.266217  52.079576  88.001422
2  52.239112  11.748972   6.995774
3  18.637914  74.712243  42.377111

In [72]:
# 对齐

df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1)
print(df2)
print('-----')
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐

          A         B         C         D
0  0.126130 -0.389516  0.585390  0.482690
1  0.943539  1.322006 -0.694319 -0.922901
2  0.696207  0.509886  0.238162 -1.318386
3  1.168405  0.678409  0.569312  1.392583
4  1.619104  1.126303  1.499498  0.300889
5  0.422506  1.437232  0.355855 -2.254061
6  0.953419 -1.227774  0.973969 -0.910789
7  0.086788  0.242664  0.202761  0.025119
8  2.139804  1.315372  0.862504  0.155541
9 -1.224601  0.545042  1.329889  0.413138
          A         B         C
0  0.291272 -0.649684  0.606972
1  0.034092  0.408858  0.987518
2 -1.643378  2.693057 -0.876752
3  0.300228 -0.570719  0.797317
4 -0.479825  0.393665  0.503390
5 -0.093900  1.014969  0.501922
6 -0.877792 -0.656611  1.156052
-----
          A         B         C   D
0  0.417402 -1.039200  1.192362 NaN
1  0.977630  1.730864  0.293198 NaN
2 -0.947171  3.202942 -0.638590 NaN
3  1.468632  0.107690  1.366629 NaN
4  1.139278  1.519968  2.002887 NaN
5  0.328606  2.452200  0.857778 NaN
6  0.075627 -1.884385  2.130021 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [73]:
# 排序1 - 按值排序 .sort_values
# 同样适用于Series

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_values(['a'], ascending = True))  # 升序
print(df1.sort_values(['a'], ascending = False))  # 降序
print('------')
# ascending参数：设置升序降序，默认升序
# 单列排序

df2 = pd.DataFrame({'a':[1,1,1,1,2,2,2,2],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df2)
print(df2.sort_values(['a','c']))
# 多列排序，按列顺序排序

           a          b          c          d
0  54.422429  79.676829   4.522229  73.233267
1  55.192272   5.537171  75.506975  54.093254
2  63.306779  59.832503  99.101994  56.014492
3   2.531441  86.489010  61.469431  97.506739
           a          b          c          d
3   2.531441  86.489010  61.469431  97.506739
0  54.422429  79.676829   4.522229  73.233267
1  55.192272   5.537171  75.506975  54.093254
2  63.306779  59.832503  99.101994  56.014492
           a          b          c          d
2  63.306779  59.832503  99.101994  56.014492
1  55.192272   5.537171  75.506975  54.093254
0  54.422429  79.676829   4.522229  73.233267
3   2.531441  86.489010  61.469431  97.506739
------
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4

In [74]:
# 排序2 - 索引排序 .sort_index

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = [5,4,3,2],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = ['h','s','x','g'],
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_index())
print(df2)
print(df2.sort_index())
# 按照index排序
# 默认 ascending=True, inplace=False

           a          b          c          d
5   4.822277   6.242426  64.351871  63.809160
4  81.029910  97.368947  91.037162  98.725993
3  25.144654  25.597868   6.430037  80.040791
2  32.978882  93.329394   2.725270  85.171595
           a          b          c          d
2  32.978882  93.329394   2.725270  85.171595
3  25.144654  25.597868   6.430037  80.040791
4  81.029910  97.368947  91.037162  98.725993
5   4.822277   6.242426  64.351871  63.809160
           a          b          c          d
h  90.216783  92.999190  55.630499  14.430062
s  12.340614  87.880696  33.851706  34.975585
x  29.967707  98.280783  89.226777  45.650666
g  81.372015  92.916810  11.070966  22.892499
           a          b          c          d
g  81.372015  92.916810  11.070966  22.892499
h  90.216783  92.999190  55.630499  14.430062
s  12.340614  87.880696  33.851706  34.975585
x  29.967707  98.280783  89.226777  45.650666