In [3]:
import pandas as pd
import numpy as np
dic = {'Jack':90,'Tom':89,'Marry':92,'Zack':65}
ar=np.array([90,89,92,76])
print(pd.Series(dic,dtype=np.float,name='zuoye1'))
print(pd.Series(ar,index=['Jack','Tom','Marry','Zack'],dtype=np.float,name='zuoye1'))

Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: zuoye1, dtype: float64
Jack     90.0
Tom      89.0
Marry    92.0
Zack     76.0
Name: zuoye1, dtype: float64

In [6]:
s = pd.Series(np.random.rand(10)*100,index=list('abcdefjhij'))
print (s)
print (s['b'])
print (s[3:6])
print (s[s>50])

a    35.292873
b    35.453673
c    32.955185
d    32.862861
e     0.121503
f    48.956785
j    44.738458
h    47.127660
i     7.768492
j    78.809104
dtype: float64
35.4536729368
d    32.862861
e     0.121503
f    48.956785
dtype: float64
j    78.809104
dtype: float64

In [10]:
s=pd.Series(np.arange(10),index=list('abcdefghij'))
print(s)
s[['a','e','f']]=100
s.drop('b',inplace=True)
print(s)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32

In [11]:
s1 = pd.Series(np.random.rand(5)*10,index = list('abcde'))
s2 = pd.Series(np.random.rand(5)*10,index = list('cdefg'))
print(s1+s2)

a          NaN
b          NaN
c    10.452652
d    12.083695
e     4.471817
f          NaN
g          NaN
dtype: float64

In [16]:
df1=pd.DataFrame({'one':[1,2,3,4,5],
                  'two':[2,3,4,5,6],
                  'three':[3,4,5,6,7],
                  'four':[4,5,6,7,8]},
                index=list('abcde'))
print(df1)
df2 = pd.DataFrame({'one':pd.Series([1,2,3,4,5],index=list('abcde')),
                   'two':pd.Series([2,3,4,5,6],index = list('abcde')),
                   'three':pd.Series([3,4,5,6,7],index = list('abcde')),
                   'four':pd.Series([4,5,6,7,8],index = list('abcde'))})
print(df2)
df3 = pd.DataFrame(np.arange(20).reshape(5,4),
                   index=list('abcde'),
                   columns=['one','two','three','four'])
print(df3)
df4 = pd.DataFrame([{'one':1,'two':2,'three':3,'four':4},
                   {'one':2,'two':3,'three':4,'four':5},
                   {'one':3,'two':4,'three':5,'four':6},
                   {'one':4,'two':5,'three':6,'four':7},
                   {'one':5,'two':6,'three':7,'four':8}],
                  index=list('abcde'))
print(df4)

   four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6
   four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6
   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15
e   16   17     18    19
   four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6

In [19]:
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=list('abcd'))
print(df)
print(df[['b','c']])
print(df.iloc[2:4])
print(df.loc[['two','one']])
print(df[df>50])

               a          b          c          d
one    40.481951  17.648929  25.184172  38.404291
two    39.572745  67.125397  26.160065   1.371407
three  57.558156   1.504587  48.902835  79.698306
four   21.992876  77.523583  48.967975  54.823038
               b          c
one    17.648929  25.184172
two    67.125397  26.160065
three   1.504587  48.902835
four   77.523583  48.967975
               a          b          c          d
three  57.558156   1.504587  48.902835  79.698306
four   21.992876  77.523583  48.967975  54.823038
             a          b          c          d
two  39.572745  67.125397  26.160065   1.371407
one  40.481951  17.648929  25.184172  38.404291
               a          b   c          d
one          NaN        NaN NaN        NaN
two          NaN  67.125397 NaN        NaN
three  57.558156        NaN NaN  79.698306
four         NaN  77.523583 NaN  54.823038

In [21]:
df = pd.DataFrame(np.random.rand(3,3)*100,
                 index = ['a','b','c'],
                 columns = ['v1','v2','v3'])
print(df.sort_index(ascending=False))
print(df.sort_values(['v2'],ascending=False))

          v1         v2         v3
c  36.034994  87.995779  52.064888
b  91.988664  89.444658  45.855848
a  32.284407  66.754264   3.524632
          v1         v2         v3
b  91.988664  89.444658  45.855848
c  36.034994  87.995779  52.064888
a  32.284407  66.754264   3.524632

In [22]:
df1 = pd.DataFrame(np.random.rand(5,2)*100,
                 index = ['a','b','c','d','e'],
                 columns = ['v1','v2'])
print(df1)
df2=df1.T.drop('e',axis=1)
df2['b']=100
print(df2)

          v1         v2
a  98.298095  59.523150
b   1.364744  55.155068
c  71.341038  24.364251
d  39.052166  57.064517
e  29.922916  76.793826
            a    b          c          d
v1  98.298095  100  71.341038  39.052166
v2  59.523150  100  24.364251  57.064517

In [24]:
import datetime
print (datetime.datetime.now())
print (datetime.datetime(2017,5,1,12,30))
print (datetime.datetime(2000,12,1))

t1 = datetime.datetime(2000,5,1)
print (t1 + datetime.timedelta(1000))

2018-08-17 23:17:05.163893
2017-05-01 12:30:00
2000-12-01 00:00:00
2003-01-26 00:00:00

In [25]:
datelst = []
for i in range(1,32):
    datelst.append('2017-12-%i' %i)
print (datelst)
t=pd.to_datetime(datelst)
print(t)
n=(len(t)+1)/2-1
print(t[int(n)])

['2017-12-1', '2017-12-2', '2017-12-3', '2017-12-4', '2017-12-5', '2017-12-6', '2017-12-7', '2017-12-8', '2017-12-9', '2017-12-10', '2017-12-11', '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16', '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31']
DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-12',
               '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16',
               '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', freq=None)
2017-12-16 00:00:00

In [26]:
f = open('C:/Users/hp/Desktop/date.txt','r')
s = f.readline()
datelst = s.split(',')
print('读取txt文件为：\n',datelst,'\n------')
t = pd.to_datetime(datelst)
print('转化成DatetimeIndex为：\n',t,'\n------')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/hp/Desktop/date.txt'

In [31]:
ts1 = pd.Series(np.random.rand(5),
               index=pd.date_range('20170101',periods=5))
ts2 = pd.Series(np.random.rand(4),
               index=pd.date_range(start='2017',end='2018',freq='Q-JAN'))
ts2_2 = pd.Series(np.random.rand(4),
               index=pd.date_range(start='2017',end='2018',freq='3M'))
ts3 = pd.DataFrame(np.random.rand(4,4),
               index=pd.date_range(start='20171201',periods=4,freq='10MIN'),
               columns = ['value1','value2','value3','value4'])
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')
print('时间序列3：\n',ts3,'\n------')

时间序列1：
 2017-01-01    0.494895
2017-01-02    0.864362
2017-01-03    0.213161
2017-01-04    0.290596
2017-01-05    0.350235
Freq: D, dtype: float64
------
时间序列2：
 2017-01-31    0.341737
2017-04-30    0.354129
2017-07-31    0.872008
2017-10-31    0.606227
Freq: Q-JAN, dtype: float64
------
时间序列3：
                        value1    value2    value3    value4
2017-12-01 00:00:00  0.396175  0.219429  0.552754  0.256086
2017-12-01 00:10:00  0.293067  0.995912  0.358469  0.731897
2017-12-01 00:20:00  0.825094  0.681546  0.566679  0.092600
2017-12-01 00:30:00  0.345713  0.042872  0.089184  0.339445
------

In [33]:
ts = pd.Series(np.random.rand(5),
              index=pd.date_range(start='20170501',periods=5,freq='10T'))
print(ts)

ts2 = ts.asfreq('5T',method='ffill')
print(ts2)

2017-05-01 00:00:00    0.798761
2017-05-01 00:10:00    0.320400
2017-05-01 00:20:00    0.288617
2017-05-01 00:30:00    0.223137
2017-05-01 00:40:00    0.242199
Freq: 10T, dtype: float64
2017-05-01 00:00:00    0.798761
2017-05-01 00:05:00    0.798761
2017-05-01 00:10:00    0.320400
2017-05-01 00:15:00    0.320400
2017-05-01 00:20:00    0.288617
2017-05-01 00:25:00    0.288617
2017-05-01 00:30:00    0.223137
2017-05-01 00:35:00    0.223137
2017-05-01 00:40:00    0.242199
Freq: 5T, dtype: float64

In [35]:
ts1 = pd.Series(np.random.rand(5),
               index=pd.period_range('20170101','20170501',freq='M'))

ts2 = pd.Series(np.random.rand(5),
               index=pd.period_range('20170101',periods=5,freq='2h'))

print(ts1)
print(ts2)

2017-01    0.792126
2017-02    0.961345
2017-03    0.715338
2017-04    0.426567
2017-05    0.575153
Freq: M, dtype: float64
2017-01-01 00:00    0.506570
2017-01-01 02:00    0.893188
2017-01-01 04:00    0.030672
2017-01-01 06:00    0.483799
2017-01-01 08:00    0.680880
Freq: 2H, dtype: float64

In [36]:
import datetime
ts = pd.DataFrame(np.random.rand(10,3)*100,
                 index=pd.date_range(start='20171201',periods=10,freq='12h'),
                 columns = ['value1','value2','value3'])
print(ts)
print(ts[:3])
print(ts.loc['2017-12-04 12:00:00'])
print(ts['20171204':'20171205'])

                        value1     value2     value3
2017-12-01 00:00:00  93.614227  41.458474  76.942550
2017-12-01 12:00:00   9.651392  53.446413  99.551848
2017-12-02 00:00:00  47.232312  38.703361  21.346788
2017-12-02 12:00:00  38.728142   0.835700  80.550198
2017-12-03 00:00:00  61.027151  68.908259  91.558953
2017-12-03 12:00:00  89.305352  19.545747  63.860334
2017-12-04 00:00:00  60.013152  91.148685  85.684899
2017-12-04 12:00:00   2.401428  45.022563  33.831254
2017-12-05 00:00:00  26.881451  61.708346  68.834045
2017-12-05 12:00:00  94.916281  75.325264   3.138576
                        value1     value2     value3
2017-12-01 00:00:00  93.614227  41.458474  76.942550
2017-12-01 12:00:00   9.651392  53.446413  99.551848
2017-12-02 00:00:00  47.232312  38.703361  21.346788
value1     2.401428
value2    45.022563
value3    33.831254
Name: 2017-12-04 12:00:00, dtype: float64
                        value1     value2     value3
2017-12-04 00:00:00  60.013152  91.148685  85.684899
2017-12-04 12:00:00   2.401428  45.022563  33.831254
2017-12-05 00:00:00  26.881451  61.708346  68.834045
2017-12-05 12:00:00  94.916281  75.325264   3.138576

In [38]:
ts1 = pd.Series(np.random.rand(10),
              index=pd.date_range(start='20170101',periods=10,freq='D'))
ts2 = ts1.resample('3D').mean()
ts3 = ts1.resample('12h').ffill()

print(ts1)
print(ts2)
print(ts3)

2017-01-01    0.376572
2017-01-02    0.996671
2017-01-03    0.639581
2017-01-04    0.427689
2017-01-05    0.492910
2017-01-06    0.399657
2017-01-07    0.804588
2017-01-08    0.438507
2017-01-09    0.074198
2017-01-10    0.700056
Freq: D, dtype: float64
2017-01-01    0.670942
2017-01-04    0.440085
2017-01-07    0.439097
2017-01-10    0.700056
Freq: 3D, dtype: float64
2017-01-01 00:00:00    0.376572
2017-01-01 12:00:00    0.376572
2017-01-02 00:00:00    0.996671
2017-01-02 12:00:00    0.996671
2017-01-03 00:00:00    0.639581
2017-01-03 12:00:00    0.639581
2017-01-04 00:00:00    0.427689
2017-01-04 12:00:00    0.427689
2017-01-05 00:00:00    0.492910
2017-01-05 12:00:00    0.492910
2017-01-06 00:00:00    0.399657
2017-01-06 12:00:00    0.399657
2017-01-07 00:00:00    0.804588
2017-01-07 12:00:00    0.804588
2017-01-08 00:00:00    0.438507
2017-01-08 12:00:00    0.438507
2017-01-09 00:00:00    0.074198
2017-01-09 12:00:00    0.074198
2017-01-10 00:00:00    0.700056
Freq: 12H, dtype: float64

In [39]:
df = pd.DataFrame(np.random.rand(5,2)*100,
                 index=range(5),columns=['key1','key2'])
print(df)
print(df['key1'].mean)
print(df['key1'].median)
print(df['key2'].mean)
print(df['key2'].median)
df['key1_cumsum'] = df['key1'].cumsum()
df['key2_cumsum'] = df['key2'].cumsum()
print(df)

        key1       key2
0  36.252671  95.359371
1  87.251489  13.159802
2   5.885375  98.350570
3  83.636208  76.333012
4  14.650334  52.709636
<bound method Series.mean of 0    36.252671
1    87.251489
2     5.885375
3    83.636208
4    14.650334
Name: key1, dtype: float64>
<bound method Series.median of 0    36.252671
1    87.251489
2     5.885375
3    83.636208
4    14.650334
Name: key1, dtype: float64>
<bound method Series.mean of 0    95.359371
1    13.159802
2    98.350570
3    76.333012
4    52.709636
Name: key2, dtype: float64>
<bound method Series.median of 0    95.359371
1    13.159802
2    98.350570
3    76.333012
4    52.709636
Name: key2, dtype: float64>
        key1       key2  key1_cumsum  key2_cumsum
0  36.252671  95.359371    36.252671    95.359371
1  87.251489  13.159802   123.504160   108.519173
2   5.885375  98.350570   129.389535   206.869743
3  83.636208  76.333012   213.025742   283.202755
4  14.650334  52.709636   227.676076   335.912391

In [40]:
def f(x):
    s = x.unique()
    if len(s)==len(x):
        print('yes')
    else:
        print('no')

d=input('qingshuru:\n')
lst=d.split(',')
ds=pd.Series(lst)
f(ds)

qingshuru:
a,b,d,f,a
no

In [41]:
df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})

df['name']=df['name'].str.capitalize()
df['gender'] = df['gender'].str.strip()
df['math'] = df['score'].str.split('-',expand=True)[0]
df['english'] = df['score'].str.split('-', expand=True)[0]
df['art'] = df['score'].str.split('-', expand=True)[0]
del df['score']
print(df)

  gender    name math english art
0      M    Jack   90      90  90
1      M     Tom   89      89  89
2      F   Marry   90      90  90
3      M    Zack   78      78  78
4      F  Heheda   60      60  60

In [44]:
df1 = pd.DataFrame({'key':['a','b','c'],
                     'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                     'values2':np.random.rand(3)})
df3=pd.merge(df1,df2,on='key',how='outer')
print(df1)
print(df2)
print(df3)

  key   values1
0   a  0.342151
1   b  0.108836
2   c  0.885681
  key   values2
0   b  0.969578
1   c  0.061944
2   d  0.000306
  key   values1   values2
0   a  0.342151       NaN
1   b  0.108836  0.969578
2   c  0.885681  0.061944
3   d       NaN  0.000306

In [46]:
df1 = pd.DataFrame({'lkey':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'rkey':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,left_on='lkey',right_on='rkey',how='left')
print(df1)
print(df2)
print(df3)

  lkey   values1
0    a  0.666813
1    b  0.501007
2    c  0.137892
  rkey   values2
0    b  0.528007
1    c  0.002920
2    d  0.869310
  lkey   values1 rkey   values2
0    a  0.666813  NaN       NaN
1    b  0.501007    b  0.528007
2    c  0.137892    c  0.002920

In [47]:
df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':[5,6,7]},
                  index = ['b','c','d'])
df3 = df1.join(df2,on='key',how='inner')
df4 = pd.merge(df1,df2,left_on='key',right_index=True,how='inner')
print(df1)
print(df2)
print(df3)
print(df4)

  key   values1
0   a  0.278555
1   b  0.006327
2   c  0.436759
    values2  values3
b  0.295234        5
c  0.836017        6
d  0.529171        7
  key   values1   values2  values3
1   b  0.006327  0.295234        5
2   c  0.436759  0.836017        6
  key   values1   values2  values3
1   b  0.006327  0.295234        5
2   c  0.436759  0.836017        6

In [49]:
df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print(df1)
print(df2)
print(df3)

    values1   values2
a  0.219012  0.171590
b  0.734519  0.844777
c  0.079852  0.555553
d  0.617434  0.083174
    values1   values2
e  0.358901  0.143436
f  0.767398  0.530094
g  0.683363  0.092199
h  0.749548  0.932613
    values1   values2
a  0.219012  0.171590
b  0.734519  0.844777
c  0.079852  0.555553
d  0.617434  0.083174
e  0.358901  0.143436
f  0.767398  0.530094
g  0.683363  0.092199
h  0.749548  0.932613

In [53]:
df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.randint(8,size=(4,2)),
                  index = list('abcd'),
                  columns = ['values1','values2'])
print(df1)
print(df2)
df1.combine_first(df2)
print(df1)

    values1   values2
a  0.002046  0.648386
b  0.361437  0.163349
c  0.745947  0.912275
d  0.700791  0.984599
   values1  values2
a        4        6
b        3        5
c        7        5
d        4        4
    values1   values2
a  0.002046  0.648386
b  0.361437  0.163349
c  0.745947  0.912275
d  0.700791  0.984599

In [61]:
df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})

print (df)
print (df.groupby('A').mean())
print (df.groupby(['A','B']).sum())
print (df.groupby('A').groups)
print (df.groupby(df.dtypes,axis=1).sum())
print (df.groupby({'C':'r','D':'r'},axis=1).sum())
print (df.groupby('B')[['C','D','E']].agg({'re1':np.mean,'re2':np.sum,'re3':np.max,'re4':np.min}))
print (df.groupby('B').agg([np.mean,np.sum,np.max,np.min]))

       A  B   C         D         E
0    one  h  10 -1.495876  0.775953
1    two  h  12 -1.245924  0.700651
2  three  h  14  0.669766  0.840591
3    one  h  16 -0.259174  0.707507
4    two  f  18  0.731738  0.532749
5  three  f  20  1.155136  0.907156
6    one  f  22  0.707977  0.458663
7    two  f  24 -0.864268  0.061444
        C         D         E
A
one    16 -0.349024  0.647375
three  17  0.912451  0.873874
two    18 -0.459485  0.431615
          C         D         E
A     B
one   f  22  0.707977  0.458663
      h  26 -1.755050  1.483460
three f  20  1.155136  0.907156
      h  14  0.669766  0.840591
two   f  42 -0.132531  0.594193
      h  12 -1.245924  0.700651
{'one': Int64Index([0, 3, 6], dtype='int64'), 'three': Int64Index([2, 5], dtype='int64'), 'two': Int64Index([1, 4, 7], dtype='int64')}
   int32   float64  object
0     10 -0.719923    oneh
1     12 -0.545273    twoh
2     14  1.510357  threeh
3     16  0.448333    oneh
4     18  1.264487    twof
5     20  2.062292  threef
6     22  1.166640    onef
7     24 -0.802824    twof
           r
0   8.504124
1  10.754076
2  14.669766
3  15.740826
4  18.731738
5  21.155136
6  22.707977
7  23.135732
  re1                     re2                     re3                     re4  \
    C         D         E   C         D         E   C         D         E   C
B
f  21  0.432646  0.490003  84  1.730582  1.960013  24  1.155136  0.907156  18
h  13 -0.582802  0.756176  52 -2.331208  3.024702  16  0.669766  0.840591  10


          D         E
B
f -0.864268  0.061444
h -1.495876  0.700651
     C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18  0.432646  1.730582  1.155136 -0.864268  0.490003
h   13  52   16   10 -0.582802 -2.331208  0.669766 -1.495876  0.756176


        sum      amax      amin
B
f  1.960013  0.907156  0.061444
h  3.024702  0.840591  0.700651

D:\Anaconda3\lib\site-packages\pandas\core\groupby.py:4036: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [81]:
df = pd.DataFrame({'data1':np.random.rand(8),
                    'data2':np.random.rand(8),
                    'key':list('aabbabab')})
print(df)
meandf = df.groupby('key').mean()
print(meandf)
print('meandf===')
df2 = pd.merge(df,meandf,left_on='key',right_index=True,suffixes=('', '_mean'))
print(df2)
print('df2===')
df2 = df.join(meandf,on='key',rsuffix='_mean')
print(df2)
print('df2===')
df1 = df.groupby('key').transform(np.mean)
print(df1)
print('df1===')
df3 = df.join(df1,rsuffix='_mean')
print(df3)
print('df3===')

      data1     data2 key
0  0.233786  0.832786   a
1  0.160541  0.005708   a
2  0.715063  0.667656   b
3  0.598685  0.375832   b
4  0.268073  0.108165   a
5  0.558149  0.773478   b
6  0.648371  0.930165   a
7  0.665298  0.907982   b
        data1     data2
key
a    0.327693  0.469206
b    0.634299  0.681237
meandf===
      data1     data2 key  data1_mean  data2_mean
0  0.233786  0.832786   a    0.327693    0.469206
1  0.160541  0.005708   a    0.327693    0.469206
4  0.268073  0.108165   a    0.327693    0.469206
6  0.648371  0.930165   a    0.327693    0.469206
2  0.715063  0.667656   b    0.634299    0.681237
3  0.598685  0.375832   b    0.634299    0.681237
5  0.558149  0.773478   b    0.634299    0.681237
7  0.665298  0.907982   b    0.634299    0.681237
df2===
      data1     data2 key  data1_mean  data2_mean
0  0.233786  0.832786   a    0.327693    0.469206
1  0.160541  0.005708   a    0.327693    0.469206
2  0.715063  0.667656   b    0.634299    0.681237
3  0.598685  0.375832   b    0.634299    0.681237
4  0.268073  0.108165   a    0.327693    0.469206
5  0.558149  0.773478   b    0.634299    0.681237
6  0.648371  0.930165   a    0.327693    0.469206
7  0.665298  0.907982   b    0.634299    0.681237
df2===
      data1     data2
0  0.327693  0.469206
1  0.327693  0.469206
2  0.634299  0.681237
3  0.634299  0.681237
4  0.327693  0.469206
5  0.634299  0.681237
6  0.327693  0.469206
7  0.634299  0.681237
df1===
      data1     data2 key  data1_mean  data2_mean
0  0.233786  0.832786   a    0.327693    0.469206
1  0.160541  0.005708   a    0.327693    0.469206
2  0.715063  0.667656   b    0.634299    0.681237
3  0.598685  0.375832   b    0.634299    0.681237
4  0.268073  0.108165   a    0.327693    0.469206
5  0.558149  0.773478   b    0.634299    0.681237
6  0.648371  0.930165   a    0.327693    0.469206
7  0.665298  0.907982   b    0.634299    0.681237
df3===

In [84]:
df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})

print(df)
print(pd.pivot_table(df,values=['C','D'],index='A',aggfunc=np.sum))
print(pd.pivot_table(df,values=['E','E'],index=['A','B'],aggfunc=[np.mean,np.sum]))
print(pd.crosstab(df['B'],df['A']))

       A  B   C         D         E
0    one  h  10  0.324774  0.529603
1    two  h  12 -0.159920  0.750208
2  three  h  14  0.732465  0.787436
3    one  h  16 -0.133052  0.077737
4    two  f  18 -0.912563  0.461846
5  three  f  20 -0.927860  0.735417
6    one  f  22  0.426971  0.094458
7    two  f  24 -0.433759  0.214514
        C         D
A
one    48  0.618693
three  34 -0.195394
two    54 -1.506243
             mean                 sum
                E         E         E         E
A     B
one   f  0.094458  0.094458  0.094458  0.094458
      h  0.303670  0.303670  0.607339  0.607339
three f  0.735417  0.735417  0.735417  0.735417
      h  0.787436  0.787436  0.787436  0.787436
two   f  0.338180  0.338180  0.676360  0.676360
      h  0.750208  0.750208  0.750208  0.750208
A  one  three  two
B
f    1      1    2
h    2      1    1