In [18]:
'''
【课程2.1】
'''

'\n【课程2.1】\n'

In [19]:
x1 = 10
x2=10.0
print (type(x1),type(x2))

<class 'int'> <class 'float'>

In [4]:
x3 = "hello world!"
print(x3,type(x3))
print ('''a
b
b
''')

hello world! <class 'str'>
a
b
b

In [6]:
a=True
b=False
print (a==1)

True

In [7]:
lst = [1,2,3,4,5]
print (lst,type(lst))
lst2=[1,2,4,'a',[1,2,3]]
print (lst2[2])
print (lst2[2],type(lst2[2]))

[1, 2, 3, 4, 5] <class 'list'>
4
4 <class 'int'>

In [10]:
tup=(1,2,3)
lst=[1,2,3]
lst[0]=100
print (lst)
tup[0]=100

[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [11]:
dic = {"name":"fatbird","city":"shanghai","tel":"10001000"}
print (dic,type(dic))

{'name': 'fatbird', 'city': 'shanghai', 'tel': '10001000'} <class 'dict'>

In [17]:
var1 =10
print (type(var1))

var2 = float(var1)
print (var2,type(var2))

var3 = str(var1)
print(var3)

var4=10.7
print (int(var4))

<class 'int'>
10.0 <class 'float'>
10
10

In [20]:
'''
【课程2.2】
'''

'\n【课程2.2】\n'

In [22]:
a=1
b=1.2
c="aaa"
print (a,b,c,type(c))

1 1.2 aaa <class 'str'>

In [25]:
a=b=c=1
d,e,f=1,2,'hello'
print(a,b,c,d,e,f)

1 1 1 1 2 hello

In [26]:
'''
【课程2.3】
'''

'\n【课程2.3】\n'

In [28]:
a,b,c=21,10,0
print (a*b,a+b,a-b,a/b,a%b,a**c,a//b)

210 31 11 2.1 1 1 2

In [30]:
print (a==b,a!=b,a>b,a<b,a>=b,a<=b)
print (True==1)

False True True False True False
True

In [37]:
print (True==1 and False==0)

True

In [43]:
a={"a":1,"b":2,"c":"d"}
b=[1,2,3,4]
c='abcde'
print ('c' in a)
print ('d' not in a)
print ('a' in c)

True
True
True

In [35]:
a=[1,2,3,4,5,6]
b=1
print (b in a)
print (bool(a),bool([]))

True
True False

In [33]:
'''
【课程2.4】
'''

'\n【课程2.4】\n'